# Telegram Config
TELEGRAM_BOT_TOKEN="7481918040:AAHxJjyaLFRgKV_5pLAEx6KItrazmTSwtpM"
PAYPAL_CLIENT_ID="AQnqnmgRYjSp3ntW6ftVb72_DAW3W8IFM_u5ffg4RSJQa47DyXTWAqyt5m0BhUEx_vIfOi2iW003RMzS"
PAYPAL_CLIENT_SECRET="EDfxrULGQtOqRATgfPY9nezN4hPCwASvMFg7MwvsuzIdjRbyN9lOSdhTgMF4Hn6JkyeMSZzcYiiQ5Yrz"
ADMIN_USER_ID="6963023458"

# Database Config
DB_NAME="telegram_ecommerce"
DB_HOST="db"
DB_USER="bot-user"
DB_PASSWORD="bot-user-1234"

# App Config
ADMINS=raulpy271,billy_boy,mathew02
